<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hi Travis,</p>
  <p>An app was just submitted to metapinger. You can check it out at <%= @app.url %></p>
  <p>Sincerely,</p>
  <p>Yourself</p>
</body>
</html>
