/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$copy: #88ff00;
$background: black;

html, body {
  background-color: $background;
  overflow: hidden;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background-color: $background;
  color: $copy;
  font-family: monospace;
  font-size: 12px;
}

h1 { font-size: 3.5em; }
p  { text-align: center; }
p , label { font-size: 1.4em; }

#content-wrapper {
  margin: 0 auto;
  margin-top:16%;
  position: relative;
  text-align: center;
  width: 60%;
}

///////////////////////////
// Flash Styles
///////////////////////////

// ensures spacing of page doesn't change when flash message appears on redirect
header {
  height: 1.5em;
}

header p {
  &.error {
    color: #FF002B;
  }

  &.notice {
    color: orange;
  }
}

///////////////////////////
// Form Styles
///////////////////////////

input[type=text] {
  border: 1px solid #DDDDDD;
  font-size: 1em;
  line-height: 2.2em;
  margin: 5px 1px 3px 0px;
  outline: none;
  padding: 3px 0px 3px 3px;
  -webkit-transition: all 0.30s ease-in-out;
     -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
       -o-transition: all 0.30s ease-in-out;
          transition: all 0.30s ease-in-out;
  width: 30%;
}

input[type=text]:focus {
  border: 1px solid rgba(139, 255, 0, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin:  5px 1px 3px 0px;
  padding: 3px 0px 3px 3px;
}

input[type=text].activated { width: 36%; }

input[type="submit"] {
  background-color: $copy;
  border: 0;
  cursor: pointer;
  font-family: monospace;
  padding: 0.85em 1.5em;
  position: relative;
  top: 0.5px;
  transition: background-color .2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: darken($copy, 13%)
}

///////////////////////////
// Success Page
///////////////////////////

.app-wrapper {
  background-color: lighten($background, 20%);
  display:table;
  height: 3em;
  margin: 2em auto;
}

.app-wrapper p {
  display:table-cell;
  margin: .5em;
  padding: 1em 2em;
  vertical-align: middle;
}

.second-level {
  font-size: 1.8em;
  font-weight: bold;
}

.third-level { font-size: 1.4em; }

.fourth-level {
  font-size: 0.67em;
  margin-top: 3.8em;
}

.iframe-wrapper {
  position: relative;
  bottom: -5em;
  width: 20em;
  margin: 0 auto;
}

iframe {
  opacity: 0;
}

// keeps twitter widget's temporary link text from flashing blue on the black background before the icon loads
a {
  color: black;
}

