/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* SCSS variables begin with a $, just like jQuery */
/* the convention in SCSS variable-naming is to use dashes between words */
$copy: #88ff00;
$background: black;

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: $background;
}

body {
    background-color: $background;
    color: $copy;
    font-family: monospace;
    font-size: 12px;
}

// To ensure spacing of page doesn't change when flash message appears
header {
  height: 1.5em;
}

h1 { font-size: 3.5em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
p { text-align: center; }

p , label { font-size: 1.4em; }

#main-container {
  height: 100%;
  width:100%;
}

#content-wrapper {
  height: 100%;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  margin-top:16%
}

///////////////////////////
// Success Page
///////////////////////////
.app-wrapper {
  height: 3em;
  background-color: lighten($background, 20%);
  margin: 2em auto;
  display:table;
}

.app-wrapper h2, .app-wrapper h3, .app-wrapper h4 {
  display:table-cell;
  vertical-align: middle;
  padding: 1em 2em;
  margin: .5em;
}

h6 {
  margin-top: 3.8em;
}

///////////////////////////
// Text Field
///////////////////////////
input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  line-height: 2.2em;
  width: 30%;
  transition: width .3s ease-in-out;
  font-size: 1em;
}

input[type=text]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(139, 255, 0, 1);
}

input[type=text].activated {
  width: 36%;
}

// Submit
///////////////////////////
input[type="submit"] {
  padding: 0.85em 1.5em;
  background-color: $copy;
  border: 0;
  font-family:monospace;
  cursor:pointer;
  transition: background-color .2s ease-in-out;
  top: 0.5px;
  position: relative;
}

input[type="submit"]:hover {
  background-color: darken($copy, 13%)
}


/* You can nest elements in SCSS, so you don't have to needlessly */
/* repeat yourself! */
header {
  h2 {
    color: $copy;
  }
}
